@import "tailwindcss";

@theme {
  --color-ice-white: #F7FAFC;
  --color-soft-blue: #6B8EAA;
  --color-light-blue: #DCEAF2;
  --color-dusty-blue: #8FAFC2;
  --color-navy: #263746;
  --color-white: #FFFFFF;
}